@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family:  'Helvetica Neue', Arial, sans-serif;
  }
  
.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}




.nav-link {
  @apply text-gray-800 dark:text-white p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 transition;
}

.active-link {
  @apply text-blue-500 font-semibold underline dark:text-blue-400;
}
